opentelemetry-instrumentation==0.25b1
opentelemetry-instrumentation-grpc==0.25b1
opentelemetry-distro==0.25b1
opentelemetry-exporter-otlp-proto-grpc==1.6.0
grpcio==1.39.0
grpcio-tools==1.39.0
googleapis-common-protos==1.53.0
protobuf==3.18.0